.first
	section#auth-button
	section#view-selector1
//- 	section#timeline1

//- .second
//- 	section#view-selector2
//- 	section#timeline2

#view-selector-container
#view-name
#active-users-container

.Chartjs
	h3 This Week vs Last Week (by sessions)
	figure#chart-1-container.Chartjs-figure
	ol.Chartjs-legend#legend-1-container

.Chartjs
	h3 This Year vs Last Year (by users)
	figure.Chartjs-figure#chart-2-container
	ol.Chartjs-legend#legend-2-container

.Chartjs
	h3 Top Browsers (by pageview)
	figure.Chartjs-figure#chart-3-container
	ol.Chartjs-legend#legend-3-container

.Chartjs
	h3 Top Countries (by sessions)
	figure.Chartjs-figure#chart-4-container
	ol.Chartjs-legend#legend-4-container
